@import 'tailwindcss';

@theme {
  --color-primary: #264092;
  --color-warning: #e79f00;
  --color-input-bg: #e6e9ee;
  --color-page-bg: #e9eef8;
  --color-footer-bg: #264092;
  --breakpoint-3xl: 120rem;
}

@layer base {
  :root {
    --font-sans: var(--font-sans); /* Montserrat */
    --font-inter: var(--font-inter); /* Inter */
  }

  .font-sans {
    font-family: var(--font-sans), sans-serif;
  }

  .font-inter {
    font-family: var(--font-inter), sans-serif;
  }
  
  body {
    @apply min-h-screen flex flex-col bg-[var(--color-page-bg)] text-gray-900;
  }

  input,
  textarea {
    @apply min-h-10 !bg-[var(--color-input-bg)] border-none rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)];
  }

  button.btn {
    @apply cursor-pointer rounded px-4 py-2 font-semibold !h-10;
  }

  button[role='combobox'] {
    @apply bg-[var(--color-input-bg)] font-normal border-none text-[#1E1E1E] focus:ring-2 focus:ring-[var(--color-primary)];
  }

  [role='listbox'] {
    @apply bg-white text-gray-900 border-none cursor-pointer;
  }
}
